<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<property name="LOG_HOME" value="E:\\logs"/>


	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/log.%d{yyyy-MM-dd}(%i).log</FileNamePattern>          、
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>50MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%c][%M][%L]-> %m%n</pattern>
		</encoder>
		<append>false</append>
		<prudent>false</prudent>
	</appender>

	<!-- Uncomment for logging ALL HTTP request and responses -->
	<logger name="io.gatling.http" level="TRACE" />
	<!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
	<!--<logger name="io.gatling.http" level="DEBUG" /> -->

	<root level="info">
		<appender-ref ref="CONSOLE" />
<!--		<appender-ref ref="file" />-->
	</root>

</configuration>
